<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <title>Web Dev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <div class="row">
    <h1 class="col-6 title">
      Web Dev
    </h1>
  </div>
  <div class="row">
    <h3 class="col-6">
      Welcome <%= user.name %>
    </h3>
    <ul class="col-3">
      <li class="menu"><a href="/page/home">Home</a></li>
      <li class="menu"><a href="/page/logout">Logout</a></li>
    </ul>
    <form class="col-3 go-there-form"
    action="http://localhost:4000/" method="GET">
      <button type="submit">BANK ACCOUNT</button>    
    </form>
  </div>
  </div class="row">
    <h5 class="col-12">
      Main Content
    </h5>
  </div>
</body>
</html>
